<div>
    <h2 class="text-center">Flat ({{page}}) Search Options</h2>

    <div class="mt-5">
            <h4>**Choose an option**</h4>
            <div>
                <ul>
                    <a href="{{page}}/all"><li>All</li></a>
                    <a href="{{page}}/country"><li>Country</li></a>
                    <a href="{{page}}/company"><li>Company</li></a>
                    <a href="{{page}}/city"><li>City</li></a>
                    <a href="{{page}}/flatrefnumber"><li>flat Refrence Number</li></a>
                </ul>
            </div>
    </div>
</div>
