 
 
<div class="container">
        <h3 class="text-danger">View Single Flat</h3>
        <div class="container">
                <h4 class="text-info">City:</h4>
                <h5>{{flat.description.address.city}}</h5>
                <h4 class="text-info">Street</h4>
                <h5>{{flat.description.address.postCode}}</h5>
                <h4 class="text-info">PostCode</h4>
                <h5>{{flat.description.address.street}}</h5>
                <h4 class="text-info">flatNumber:</h4>
                <h5>{{flat.description.address.flatNumber}}</h5>
                <h4 class="text-info">price</h4>
                <h5>{{flat.description.lettingInformation.price}}</h5>
                <h4 class="text-info">dataAvailable</h4>
                <h5>{{flat.description.lettingInformation.dataAvailable}}</h5>

                <h4 class="text-info">furnishing:</h4>
                <h5>{{flat.description.lettingInformation.furnishing}}</h5>
                <h4 class="text-info">reducedOnWebsite</h4>
                <h5>{{flat.description.lettingInformation.reducedOnWebsite}}</h5>
                <h4 class="text-info">deposit</h4>
                <h5>{{flat.description.lettingInformation.deposit}}</h5>
                <h4 class="text-info">title:</h4>
                <h5>{{flat.description.title}}</h5>
                <h4 class="text-info">fullDescription</h4>
                <h5>{{flat.description.fullDescription}}</h5>
                <h4 class="text-info">rentOrSale</h4>
                <h5>{{flat.rentOrSale}}</h5>
                <h4 class="text-info">_id</h4>
                <h5>{{flat._id}}</h5>
        </div>
       
</div>

         <div class="container mt-4">
                <a href="#">
                        <button class="btn btn-danger">Update</button>
                </a>
                <a href="#">
                        <button class="btn btn-danger">Delete</button>
                </a>
        </div>