<div class="container">
        <h3 class="text-danger">User Information</h3>
        <div class="container">
                <h3>Profile Image</h3>
                <img width="300" height="300" src="{{user.image.profile}}">

                <h3>Cover Image</h3>
                <img width="800" height="300" src="{{user.image.cover}}">


                <h4 class="text-info">UserName:</h4>
                <h5>{{user.username}}</h5>
                <h4 class="text-info">First Name</h4>
                <h5>{{user.firstName}}</h5>
                <h4 class="text-info">Last Name</h4>
                <h5>{{user.lastName}}</h5>
                <h4 class="text-info">Country</h4>
                <h5>{{user.country.name}}</h5>
                <h4 class="text-info">Phone Number</h4>
                <h5>{{user.phoneNumber}}</h5>

                <h4 class="text-info">Email Address:</h4>
                <h5>{{user.emailAddress}}</h5>
                <h4 class="text-info">Data Of Birth</h4>
                <h5>{{user.dateOfBirth.day}}/{{user.dateOfBirth.month}}/{{user.dateOfBirth.year}}</h5>
                {{#if user.star}}
                <h4 class="text-info">Star</h4>
                <h5>{{user.star}}</h5>
                {{/if}}
        </div>
        <div>
                <a href="/users/update/{{user._id}}">
                        <button class="btn btn-danger">Update</button>
                </a>
                <a href="/users/delete/{{user._id}}">
                        <button class="btn btn-danger">Delete</button>
                </a>
        </div>
</div>